@import url("https://fonts.googleapis.com/css2?family=Allison&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Monoton&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-color: #1e1e1e;
}
body {
  font-family: "Source Sans Pro";
}
.nav-tabs {
  --bs-nav-tabs-border-width: 1.5px !important;
  --bs-nav-tabs-border-color: #e7e9f2 !important  ;
  --bs-nav-tabs-border-radius: 0.375rem;
  --bs-nav-tabs-link-hover-border-color: none !important;
  --bs-nav-tabs-link-active-color: none !important;
  --bs-nav-tabs-link-active-bg: none !important;
  --bs-nav-tabs-link-active-border-color: none !important;
}

.nav {
  --bs-nav-link-padding-x: none !important;
  --bs-nav-link-padding-y: none !important;
  --bs-nav-link-color: none !important;
  --bs-nav-link-hover-color: none !important;
  --bs-nav-link-disabled-color: none !important;
  display: flex;
  flex-wrap: nowrap !important;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.mb-3 {
  margin-bottom: none !important;
}

.nav-tabs .nav-link.active {
  color: none !important;
  background-color: none !important;
  border: none !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 6px solid #ffffff !important;
}



.nav-tabs .nav-link:hover {
  isolation: isolate;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 6px solid #ffffff !important;
}
.nav-tabs .nav-link {
  transition: none !important;
  border: none !important;
}
